# Зависимости для проекта Django интернет-магазина
# Основные пакеты для работы с Django

Django>=4.2.0,<5.0.0          # Основной фреймворк Django
Pillow>=9.0.0                 # Для работы с изображениями
python-decouple>=3.6          # Для работы с переменными окружения
django-crispy-forms>=1.14.0   # Для красивых форм
crispy-bootstrap4>=22.1       # Bootstrap 4 стили для форм
